<!-- **********************LOADER ZONE**********************-->
<div class="preloader" id="preloader">
    <svg class="xs-preload" viewbox="0 0 120 120" width="120px" height="120px">
        <circle class="inner" cx="60" cy="60" r="32"></circle>
        <circle class="middle" cx="60" cy="60" r="38"></circle>
        <circle class="outer" cx="60" cy="60" r="44"></circle>
    </svg>
</div>

<!-- **********************NAV BAR**********************-->
<header class="header">
    <div class="container">
        <nav id="navigation1" class="navigation">
            <div class="nav-header">
                <a class="nav-brand" href="index.html">
                    <img src="assets\images\opus_lab_logo.png" alt="" style="width: 24%;margin-top: -26px ;">
                </a>
                <div class="nav-toggle"></div>
            </div>
        </nav>
    </div>
</header>

<!-- ********************** Start PRESENCE OF EMPLOYEES**********************-->
<div class="how-work-and-token-area">
    <section class="how-work-sec section-padding" id="how_work">
        <div class="container">
            <!-- **********************SECTION TITLE**********************-->
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="section-title-item">
                        <small class="xs-section-title">{{lgemployeesList}} remaining</small>
                        <h2 class="section-title">Employees List</h2>
                    </div>
                </div>
            </div>
            <!-- **********************EMPLOYEES CARD**********************-->
            <div class="row">
                <div class="col-lg-4 col-md-6 wow fadeInUp " data-wow-duration="1.5s">
                    <div class="xs-count-down">
                        <div class="single-team">
                            <div class="team-img">
                                <img src={{employeesList[0].image}} alt="">
                                <div class="team-social">
                                    <a href="#">
                                        <i class="icon icon-facebook"></i>
                                    </a>
                                    <a href="#">
                                        <i class="icon icon-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="icon icon-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="team-content">
                                <h3 class="xs-title md">{{employeesList[0].firstName}} {{employeesList[0].lastName}}
                                </h3>
                                <p>{{employeesList[0].post}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- **********************EMPLOYEES DATA**********************-->
                <div class="col-lg-3 offset-lg-1 col-md-6 align-self-center wow fadeInUp" data-wow-duration="2s">
                    <div class="work-token-item">
                        <ul>
                            <li>
                                <strong> First Name</strong>
                                <span> {{employeesList[0].firstName}}</span>
                            </li>
                            <li>
                                <strong> Last Name</strong>
                                <span>{{employeesList[0].lastName}}</span>
                            </li>
                            <li>
                                <strong> Birthday</strong>
                                <span>{{employeesList[0].birthDay}}</span>
                            </li>
                            <li>
                                <strong> Post</strong>
                                <span>{{employeesList[0].post}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- **********************EMPLOYEES PRESENCE STATE --Action--**********************-->
                <div class="col-lg-4 align-self-center col-md-12 wow fadeInUp">
                    <div class="row action-section" *ngIf= "state == false">
                        <div class="col-lg col-6 col-md-3 wow fadeInUp" data-wow-duration="2s">
                            <div class="single-social-list slack">
                                <i class="fa fa-hand-peace-o"></i>
                                <h3 class="xs-title sm">Start</h3>
                                <a   (click)="startAction()">
                                    <span class="icon icon-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row action-section" *ngIf= "state == true">
                        <div class="col-lg col-6 col-md-3 wow fadeInUp" data-wow-duration="2.5s" >
                            <div class="single-social-list bitcoin">
                                <i class="fa fa-minus-circle"></i>
                                <h3 class="xs-title sm">Excuse</h3>
                                <a (click)="employeeExcuse(employeesList[0].id)">
                                    <span class="icon icon-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg col-6 col-md-3 wow fadeInUp" data-wow-duration="3s">
                            <div class="single-social-list youtube">
                                <i class="fa fa-ban"></i>
                                <h3 class="xs-title sm">Abscent</h3>
                                <a (click)="employeeAbscent(employeesList[0].id)">
                                    <span class="icon icon-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg col-6 col-md-3 wow fadeInUp" data-wow-duration="3.5s">
                            <div class="single-social-list medium">
                                <i class="fa fa-thumbs-up"></i>
                                <h3 class="xs-title sm">Present</h3>
                                <a (click)="employeePresent(employeesList[0].id)">
                                    <span class="icon icon-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- ********************** End  PRESENCE OF EMPLOYEES**********************-->
<!-- ********************** Start FILTER SECTION**********************-->
<div class="document-and-team-area">
    <section class="doceumnt-sec section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="section-title-item">
                        <small class="xs-section-title">Filter</small>
                        <h2 class="section-title">Employees</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto wow fadeInUp" data-wow-duration="1.5s">
                    <div class="nav xs-tabs-menu" id="v-pills-tab" role="tablist" aria-orientation="horizontal">
                        <a class="active col-md" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                            role="tab" aria-controls="v-pills-home" aria-selected="true">
                            <i class="fa fa-users"></i>
                            All <br>Emloyees
                        </a>
                        <a class="col-md" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-paper" role="tab"
                            aria-controls="v-pills-paper" aria-selected="false">
                            <i class="fa fa-thumbs-up"></i>
                            Present Employees
                        </a>
                        <a class="col-md" id="v-pills-report-tab" data-toggle="pill" href="#v-pills-reports" role="tab"
                            aria-controls="v-pills-reports" aria-selected="false">
                            <i class="fa fa-ban"></i>
                            Abscent Employees
                        </a>
                        <a class="col-md" id="v-pills-ico-tab" data-toggle="pill" href="#v-pills-ICO" role="tab"
                            aria-controls="v-pills-ICO" aria-selected="false">
                            <i class="fa fa-minus-circle"></i>
                            Excuse Employees
                        </a>
                    </div>
                    <div class="road-map-tab">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane tab_item_1 show active" id="v-pills-home" role="tabpanel"
                                aria-labelledby="v-pills-home-tab">
                                <div class="row">
                                    <!-- ********************** ALL EMPLOYEES  SECTION**********************-->
                                    <div class="ico-table table-responsive">
                                        <table class="table">
                                            <tr *ngFor="let employee of finalList">
                                                <td>{{employee.firstName}}</td>
                                                <td>{{employee.lastName}}</td>
                                                <td>{{employee.state}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- ********************** PRESENT EMPLOYEES  SECTION**********************-->

                            <div class="tab-pane tab_item_2" id="v-pills-paper" role="tabpanel"
                                aria-labelledby="v-pills-profile-tab">
                                <div class="row">
                                    <div class="ico-table table-responsive">
                                        <table class="table">
                                            <tr *ngFor="let employee of presentEmp">
                                                <td>{{employee.firstName}}</td>
                                                <td>{{employee.lastName}}</td>
                                                <td>{{employee.state}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- ********************** ABSCENT EMPLOYEES  SECTION**********************-->

                            <div class="tab-pane tab_item_3" id="v-pills-reports" role="tabpanel"
                                aria-labelledby="v-pills-report-tab">
                                <div class="ico-table table-responsive">
                                    <table class="table">
                                        <tr *ngFor="let employee of abscentEmp">
                                            <td>{{employee.firstName}}</td>
                                            <td>{{employee.lastName}}</td>
                                            <td>{{employee.state}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <!-- ********************** EXCUSE EMPLOYEES  SECTION**********************-->
                            <div class="tab-pane tab_item_4" id="v-pills-ICO" role="tabpanel"
                                aria-labelledby="v-pills-ico-tab">
                                <div class="ico-table table-responsive">
                                    <table class="table">
                                        <tr *ngFor="let employee of excuseEmp">
                                            <td>{{employee.firstName}}</td>
                                            <td>{{employee.lastName}}</td>
                                            <td>{{employee.state}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- ********************** END FILTER SECTION**********************-->
<div class="blog-and-footer-area">
    <img src="assets/images/team/signature.png" alt="">
</div>