/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/***** Modify global scrollBar style *****/
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #f8f8f8;
    background: linear-gradient(87deg, #e2e2e2 0, #161616 100%) !important;
}

::-webkit-scrollbar-thumb {
    outline: 1px solid #ffffff;
    background: linear-gradient(87deg, #00cfc5 0, #075b75 100%) !important;
}
